{% include 'MSmenu.html' %}
<br><a href={% url 'Search_MedStaff' %}>View Medstaff</a></br>
<br><a href={% url 'Schedule_MedStaff' %}>Schedule Staff Member</a></br>
<br><a href={% url 'Add_Chief' %}>Add a Dept Chief</a></br>
<br><a href={% url 'Add_Physician' %}>Add a Physician</a></br>
<br><a href={% url 'Add_Nurse' %}>Add a Nurse</a></br>
<br><a href={% url 'Add_Surgeon' %}>Add a Surgeon</a></br>
<br><a href={% url 'Add_Support' %}>Add a Support Staff</a></br>
<br><a href={% url 'Remove_MedStaff' %}>Remove a Staff Member</a> </br>

<h3> HospiPal Admin Tools </h3>
<br><a href={% url 'AddSkill' %}>Add a Skill</a></br>
<br><a href={% url 'AddTheater' %}>Add a Theater</a></br>
<br><a href={% url 'AddCorp' %}>Add a Corporation</a></br>
<br><a href={% url 'AddSurgeryType' %}>Add a Surgery Type</a></br>
<br><a href={% url 'AddMed' %}>Add a Medication</a></br>
<br><a href={% url 'AddMedInt' %}>Add a Medication Interaction</a></br>
<br><a href={% url 'AddContract' %}>Add a Contract</a></br>
<br><a href={% url 'Add_Illness_Type' %}>Add an Illness Type</a></br>
{% include 'footer.html' %}