{% include 'menu.html' %}
<h1> Patient Details: {{patient.person.name}}</h1>
<table>

<tr>
<td>Social Security Number:</td><td>{{patient.person.ssn}}</td>
</tr>
<tr>
<td>Attending Nurse:</td><td>{{patient.attending_nurse}}</td>
</tr>
<td>Nursing Unit:</td><td>{{patient.nursing_unit}}</td>
<tr>
<td>Room Number:</td><td>{{patient.room_number}}</td>
</tr>
<tr>
<td>Bed:</td><td>{{patient.bed_label}}</td><td> <a href={% url 'Assign_Bed'%}?patient={{patient.pk}}>Assign a Bed</a> </td>
</tr>
<tr>
<td>Primary:</td><td>{{patient.primary}}</td>
</tr>
<tr>
<td>Illness:</td>
{% for illness in patient.illness.all %}
	<td>{{illness}}</td>
	{% endfor %}
</tr>
<tr>
<td>Blood Sugar:</td><td>{{patient.blood_sugar}}</td>
</tr>
<tr>
<td>TRI:</td><td>{{patient.tri}}</td>
</tr>
<tr>
<td>LDL:</td><td>{{patient.ldl}}</td>
</tr>
<tr>
<td>HDL:</td><td>{{patient.hdl}}</td>
</tr>
<tr>
<td>Needs Surgery:</td><td>{{patient.needs_surgery}}</td><td><a href={% url 'Book_Surgery'%}?patient={{patient.pk}} > Schedule Surgery</a> </td>
</tr>
<tr>
<td>Disharge Date:</td><td>{{patient.date_discharged}}</td><td><a href={% url 'Assign_Discharge'%}?patient={{patient.pk}}> Set Discharge Date</a> </td>
</tr>
</table>
<br>
<a href={% url 'Add_Prescript' %}?patient={{patient.pk}}>Write a Prescription</a>
<br>
<a href={% url 'Add_Illness' %}?patient={{patient.pk}}>Diagnose with Illness</a>
<br>
<h3>Appointments:</h3>
{% for appointment in appointments %}
    <br>Consultation with {{appointment.doctor}} on {{appointment.date_of_consult}}</br>
{% endfor %}
<h3>Past Diagnosis:</h3>
{% for illness in illness_history %}
    <br>Diagnosed with {{illness.name}}({{illness.name.category}}) on {{illness.date_added}} </br>
    <br> Illness Description: {{illness.name.description}}
{% endfor %}
</form>